:root {
  --white: rgba(255, 255, 255, 1);
  --primary-01: rgba(102, 73, 20, 1);
  --primary-02: rgba(144, 110, 49, 1);
  --primary-03: rgba(243, 211, 96, 1);
  --gray-800: rgba(28, 25, 23, 1);
  --gray-700: rgba(68, 64, 60, 1);
  --gray-600: rgba(87, 83, 78, 1);
  --gray-500: rgba(121, 113, 107, 1);
  --gray-400: rgba(169, 162, 157, 1);
  --gray-300: rgba(215, 211, 208, 1);
  --gray-200: rgba(231, 229, 228, 1);
  --gray-100: rgba(245, 245, 244, 1);
  --gray-50: rgba(250, 250, 249, 1);
  --background-01: rgba(245, 243, 239, 1);
}
